<div class="container">
    <p class="float-right">
        <a href="#">Nazad na početak stranice</a>
    </p>
    <p>WingWiFi aplikacija za upravljanje WiFi vaučerima!</p>
    <p>Razvio i održava Wing IT tim.</p>
</div>
