<div class="modal fade" id="select_lang" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Izaberite jezik štampe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zatvori">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group row">
                        <label for="lang" class="col-sm-4 col-form-label">Jezik:</label>
                        <select class="col-sm-8 selectpicker" id="lang">
                            <option value="rs" selected data-content='<i class="flag-icon flag-icon-rs"></i> Srpski'></option>
                            <option value="en" data-content='<i class="flag-icon flag-icon-gb"></i> Engleski'></option>
                            <option value="de" data-content='<i class="flag-icon flag-icon-de"></i> Nemački'></option>
                            <option value="fr" data-content='<i class="flag-icon flag-icon-fr"></i> Francuski'></option>
                            <option value="es" data-content='<i class="flag-icon flag-icon-es"></i> Španski'></option>
                            <option value="tr" data-content='<i class="flag-icon flag-icon-tr"></i> Turski'></option>
                        </select>
                        <input type="hidden" id="voucher_code" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="printVoucher()">Štampaj</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function printVoucher() {
        jQuery.ajax({
            url  : '{{ home }}/index.php',
            method: 'GET',
            dataType: 'json',
            data : {
                action : 'printVoucher',
                type   : 'ajax',
                code   : jQuery('#voucher_code').val(),
                lang   : jQuery('#lang').val()
            }
        }).done(function (data) {
            if (data.status == true) {
                console.log(data.message);
            } else {
                // raise warning
                console.log(data.message);
            }

            jQuery('#select_lang').modal('hide');
        });
    }
    jQuery(document).ready(function () {
        jQuery('#select_lang').on('show.bs.modal', function (event) {
            var btn = jQuery(event.relatedTarget);
            jQuery('#voucher_code').val(btn.data('code'));
        });
    });
</script>